<%= link_to("TOP",root_path)%>

<div class="login_user">
  <%= form_for :session, url: login_path do |f| %>
  <%= f.label :email%>
  <%= f.text_field :email%><br>
  <%= f.label :password%>
  <%= f.text_field :password%><br>
  <%= f.label :password%>
  <%= f.text_field :password_confirmation%><br>
  <%= f.submit ("login")%>
  <%end%>
</div>
