<label for="<%=p_select%>"><%=name%> ×</label>
<select name="<%=param%>" class="flo">
<%t_parameter.each do |para|%>
  <option value="<%=para%>"><%=para%></option>
<%end%>
</select>
<p class = "t_p <%=t%>">1</p>
