      <tr class ="info_wapper col-xs-3 col-ms-3 col-md-4 col-lg-6">
     <%if raceall.length < 14%>
        <td><%= raceall[:box]%></td>
        <td><%= raceall[:uma_number]%></td>
        <td>
          <a href="/uma_detail/<%= raceall[:uma_name]%>" name="<%= raceall[:uma_name]%>">
            <%= raceall[:uma_name]%>
          </a>
        </td>
        <td><%= raceall[:sex_age]%></td>
        <td><%= raceall[:weight]%></td>
        <td><%= raceall[:jokey]%></td>
        <td><%= raceall[:popular]%></td>
      <%else%>
        <td><%= raceall[:rank]%></td>
        <td><%= raceall[:box]%></td>
        <td><%= raceall[:number]%></td>
        <td>
          <a href="/uma_detail/<%= raceall[:uma_name]%>" name="<%= raceall[:uma_name]%>">
            <%= raceall[:uma_name]%>
          </a>
        </td>
        <td><%= raceall[:sex_age]%></td>
        <td><%= raceall[:weight]%></td>
        <td><%= raceall[:jokey]%></td>
        <td><%= raceall[:g]%></td>
        <td><%= raceall[:ozz]%></td>
        <td><%= raceall[:popular]%></td>
        <td><%= raceall[:time]%></td>
        <td><%= raceall[:space]%></td>
        <td><%= raceall[:f3]%></td>
        <td><%= raceall[:middle]%></td>

      <%end%>
          <%# ここから %>
          <%f = @favorite.find{|f| f.uma_id == raceall[:uma_id]}%>
          <%if f%>
              <span>
                <td class = "u_speed"><%=f.speed%></td>
                <td class = "u_power"><%=f.power%></td>
              </span>
            <%else%>
                <span>
                  <td class = "u_speed">1</td>
                  <td class = "u_power">1</td>
                </span>
          <%end%>

          <%if @couse_parameter.find{|u| current_user.id == u.user_id}%>
            <%@couse_parameter.each do |c|%>
              <%if @couse_parameter.find {|co| co.couse_id == @couse.couse_id}%>
              <%cp = @couse_parameter.find {|co| co.couse_id == @couse.couse_id}%>
                <span>
                  <td class = "c_speed"><%=cp.speed%></td>
                  <td class = "c_power"><%=cp.power%></td>
                </span>
                <%break%>
              <%else%>
                <span>
                  <td class = "c_speed">1</td>
                  <td class = "c_power">1</td>
                </span>
                <%break%>
              <%end%>
            <%end%>
            <%else%>
              <span>
                <td class = "c_speed">1</td>
                <td class = "c_power">1</td>
              </span>
          <%end%>

          <span>
            <td class="select">
              <%=render partial: 'race/parameter_option', locals:{p_select:"speed_select",param:"speed",t:"t_speed",name:"スピード",t_parameter:@t_parameters}%>
              <%=render partial: 'race/parameter_option', locals:{p_select:"power_select",param:"power",t:"t_power",name:"パワー",t_parameter:@t_parameters}%>
            </td>
          </span>
          <span>
            <td class = "result">a</td>
          </span>
      </tr>
  <script type="text/javascript">

  $(function() {
    // var flo = [];
    // var counts = 5;
    // for (var i = 0;i < 10;i++){
    //   flo[i] = counts / 10;
    //   counts += 1;
    // }
    // console.log(flo);
    // $.each(flo,
    // function(pr,i){
    // console.log(pr,i);
    // console.log($(this).find('.flo'));
    //   $(this).find('.flo').append(`<option value="${i}">${i}</option>`);
    // });

    $('.info_wapper').each(function(){
      var u_speed = parseFloat($(this).find('.u_speed').text());
      var u_power = parseFloat($(this).find('.u_power').text());
      var c_speed = parseFloat($(this).find('.c_speed').text());
      var c_power = parseFloat($(this).find('.c_power').text());
      var t_speed = $(this).find('.t_speed').text();
      var t_power = $(this).find('.t_power').text();
      var speed = u_speed * c_speed * t_speed;
      speed = speed.toFixed(1);
      speed = parseFloat(speed);
      var power = u_power * c_power * t_power;
      power = power.toFixed(1);
      power = parseFloat(power);
      var result = speed + power;
      var result_tb = $(this).find('.result');
      result_tb.text(result.toFixed(1));
        // console.log("tb");
        // console.log(result_tb.text(result));

      var select_s= $(this).find('select')[0];
      var select_p= $(this).find('select')[1];
      var s_s = $(this).find('.t_speed');
      var s_p = $(this).find('.t_power');

      function changes(cha,sle){
        $(cha).change(function() {
          $(cha).each(function() {
            var val = $(this).val();
            var val = parseFloat(val);
          if (cha == select_s){
          t_speed = val
          } else { t_power = val }
          $(sle).text(val);

          $(document).on('change',$(this).find('.t_p'),function(){
            var change_speed = u_speed * c_speed * t_speed;
            change_speed = change_speed.toFixed(1);
            change_speed = parseFloat(change_speed);
            var change_power = u_power * c_power * t_power;
            change_power = change_power.toFixed(1);
            change_power = parseFloat(change_power);
            change_result = change_speed + change_power;
            change_result *= 10
            change_result = Math.round(change_result);
            change_result /= 10;

            result_tb.text(change_result);
            console.log("aaa");
            console.log(result_tb.text(change_result));
          });

          });
        });
      };
      changes(select_s,s_s);
      changes(select_p,s_p);

    });


    });
</script>

