<div><a href="<%=race_run_path(name:@code)%>">出走馬</a></div>
<div class="col-12 col-md-6 col-sm-12 prof"> 
  <table class="race_prof table">
    <tbody>
        <tr class="birthday">
          <h2><%=@race_title%></h2>
        </tr>
    <%@race_title_info.each do |r|%>
        <tr class="birthday">
          <td><%=r%></td><br>
        </tr>
    <%end%>
    </tbody>
  </table>
</div>

<div class="col-12 col-md-6 col-sm-12 prof"> 
  <table class="race_prof table">
    <tbody>
    <tr class="table-dark"><h3>特別登録</h3></tr>
    <%@race_text.zip(@race_uma_code) do |r,i|%>
        <tr class="birthday table">
          <td><a href="<%=uma_detail_path(name:r)%>" name="<%=r%>"><%=r%></a></td>
        </tr>
    <%end%>
    </tbody>
  </table>
</div>

