<%if logged_in?%>
<div class="jumbotron">
    <div class="row">
    <div class="col-md">
        <div class="display-4">
          <h1><%= @current_user.name %><h1>
        <div class="row">
            <ul class="col-md-4">
              <li>
                <a  href="<%=uma_index_path%>">お気に入り馬</a>
              </li>
            </ul>
          </div>
          </div>
        </div>
      </div>

  <% else %>
    <div class="gest">
      <h1 class="display-4">こんにちは。ゲストさん</h1>
      <h5>このアプリは</h5>
      <p>競走馬の能力と<br>走る条件を掛け合わせて<br>そのレースに出る馬の得点を出すアプリです</p>
      <h3>まずは上からログインしてください！</h3>
    </div>
  <%end%>
</div>

<div class="container mt-2 mb-2">
  <div class="row justify-content-md-center">

      <div class="col-12 col-lg-6 col-md-12 col-sm-12 index">
        <table class="table table-secondary">
          <thead>
            <tr>
              <th scope="col">馬名 :</th>
              <th scope="col" class="px-0">五</th>
              <th scope="col" class="px-0">十</th>
              <th scope="col" class="px-0">音</th>
              <th scope="col" class="px-0">検</th>
              <th scope="col" class="px-0">索</th>
            </tr>
          </thead>
          <%=render partial: 'home/index_select', locals:{select:"ア行",link:links[:a]}%>
          <%=render partial: 'home/index_select', locals:{select:"カ行",link:links[:ka]}%>
          <%=render partial: 'home/index_select', locals:{select:"サ行",link:links[:sa]}%>
          <%=render partial: 'home/index_select', locals:{select:"タ行",link:links[:ta]}%>
          <%=render partial: 'home/index_select', locals:{select:"ナ行",link:links[:na]}%>
          <%=render partial: 'home/index_select', locals:{select:"ハ行",link:links[:ha]}%>
          <%=render partial: 'home/index_select', locals:{select:"マ行",link:links[:ma]}%>
          <%=render partial: 'home/index_select', locals:{select:"ヤ行",link:links[:ya]}%>
          <%=render partial: 'home/index_select', locals:{select:"ラ行",link:links[:ra]}%>
          <%=render partial: 'home/index_select', locals:{select:"ワ行",link:links[:wa]}%>
        </table>
    </div>


      <div class="card text-white bg-dark mb-3 col-12 col-lg-6 col-md-12 col-sm-12" style="max-width: 80rem;">
        <div class="card-header">馬名検索</div>
        <div class="card-body">
            <div class="card-text">
            <%= search_form_for @q, url: search_path, html: { method: :get }  do |f| %>
            <%= f.label :name_cont, "馬名"%>
            <%= f.search_field :name_cont, class: "search-input" %>
            <div class="actions"><%= f.submit "検索" %></div>
          <% end %>
          <div class="uma-result">
            <ul class="result-ul">
            <% @uma_s.each do |uma| %>
              <li style="text-align:left; padding-left:8px;"><%= link_to "#{ uma.name}","/uma_detail/#{uma.name}" %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
      </div>

      <div class="card bg-light mb-3 col-12" style="max-width: 80rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">管理人から一言</h5>
          <p class="card-text">馬の能力とコースの相性を判断してください。 </p>
        </div>
      </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
  $(function() {
    function appendUma(input) {
      html = `<li><a href="/uma_detail/${input.name}">${input.name}</a></li>`
      $(".result-ul").append(html)
    }

    function appendErrMsgToHTML(msg) {
       var html = `<div class='name'>${ msg }</div>`
       $(".result-ul").append(html);
     }

    $(".search-input").on("keyup", function() {
      var input = $(this).val();
      $.ajax({
        type: 'GET',
        url: 'uma/search',
        data: { key: input },
        dataType: 'json'
      })
    .done(function(data) {
        console.log(data);
        $(".result-ul").empty();
        if (data.length !== 0) {
          data.forEach(function(data){
            appendUma(data)
          });
        }
        else {
          appendErrMsgToHTML("一致する馬名がありません")
        }
      })
    .fail(function(data){
      alert('非同期通信に失敗しました');
    })
  });

  });
</script>


