
  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>




<div class="jumbotron">
    <div class="row">
    <div class="col-md">
      <% if logged_in? %>
        <div class="display-4">
          <h1><%= @current_user.name %><h1>
        <div class="row">
          <div class="col-md-3 offset-md-2">
            <div class="uma_search">
              <div class="dropdown drop-hover">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                  馬パラメータ
                </button>
                <ul class="dropdown-menu">
                  <li class="dropright drop-hover">
                    <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">パラメータを設定する馬を検索</a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="<%= race_index_path%>">今週のレースから検索</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">お気に入り馬を検索</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="couse_search">
              <div class="dropdown drop-hover">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                  couseパラメータ
                </button>
                 <ul class="dropdown-menu">
                  <li class="dropright drop-hover">
                    <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">各条件・各開催</a>
                      <ul class="dropdown-menu">
                        <li class="dropright drop-hover">
                          <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">芝</a>
                             <ul class="dropdown-menu">
                               <li>
                                <a class="dropdown-item" href="#">東京</a>
                                <a class="dropdown-item" href="#">京都</a>
                                <a class="dropdown-item" href="#">阪神</a>
                                <a class="dropdown-item" href="#">中山</a>
                                <a class="dropdown-item" href="#">札幌</a>
                                <a class="dropdown-item" href="#">新潟</a>
                                <a class="dropdown-item" href="#">小倉</a>
                                <a class="dropdown-item" href="#">函館</a>
                                <a class="dropdown-item" href="#">中京</a>
                                <a class="dropdown-item" href="#">福島</a>
                               </li>
                              </ul>
                        </li>

                        <li class="dropright drop-hover">
                          <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">ダート</a>
                             <ul class="dropdown-menu">
                               <li>
                                <a class="dropdown-item" href="#">東京</a>
                                <a class="dropdown-item" href="#">京都</a>
                                <a class="dropdown-item" href="#">阪神</a>
                                <a class="dropdown-item" href="#">中山</a>
                                <a class="dropdown-item" href="#">札幌</a>
                                <a class="dropdown-item" href="#">新潟</a>
                                <a class="dropdown-item" href="#">小倉</a>
                                <a class="dropdown-item" href="#">函館</a>
                                <a class="dropdown-item" href="#">中京</a>
                                <a class="dropdown-item" href="#">福島</a>
                               </li>
                              </ul>
                        </li>
                      </ul>
                  </li>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="expect">
              <div class="dropdown drop-hover">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                  予想
                </button>
                <ul class="dropdown-menu">
                  <li class="dropright drop-hover">
                    <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">今週のレース</a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="#">レース一覧</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">過去の予想・ポイント</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
            <style>
            .drop-hover:hover > .dropdown-menu {
                display: block !important;
            }

            </style>
          </div>
        </div>

      </div>
      <% else %>
        <div class="gest">
          <h1 class="display-4">ゲストさん</h1>
          <p>競走馬の能力と<br>その日走る条件を掛け合わせて<br>着順を予想するアプリです</p>
        </div>
      <%end%>
    </div>
  </div>

  <%# <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> %>
</div>

  <%# <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
 %>
<div class="container mt-2 mb-2">


  <div class="row">

      <div class="col-12 col-md-6 col-sm-12 index">
        <table class="table table-secondary">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <th scope="row">ア行</th>
              <% links[:a].each do |link|%>
                <td><a href="uma_show/<%=link%>"><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">カ行</th>
              <% links[:ka].each do |link|%>
                <td><a href="uma_show/<%=link%>"><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">サ行</th>
              <% links[:sa].each do |link|%>
                <td><a href="uma_show/<%=link%>"><%= link%></a></td>
              <%end%>

          </tbody>
          <tbody>
            <th scope="row">タ行</th>
              <% links[:ta].each do |link|%>
                <td><a href="uma_show/<%=link%>"><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">ナ行</th>
              <% links[:na].each do |link|%>
                <td><a href="uma_show/<%=link%>" ><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">ハ行</th>
              <% links[:ha].each do |link|%>
                <td><a href="uma_show/<%=link%>" ><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">マ行</th>
              <% links[:ma].each do |link|%>
                <td><a href="uma_show/<%=link%>" ><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">ヤ行</th>
              <% links[:ya].each do |link|%>
                <td><a href="uma_show/<%=link%>" ><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">ラ行</th>
              <% links[:ra].each do |link|%>
                <td><a href="uma_show/<%=link%>" ><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">ワ行</th>
              <% links[:wa].each do |link|%>
                <td><a href="uma_show/<%=link%>" ><%= link%></a></td>
              <%end%>
          </tbody>
        </table>
    </div>


      <div class="card text-white bg-dark mb-3 col-12 col-md-6  col-sm-12" style="max-width: 80rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">User_Ranking</h5>
            <div class="card-text"> 
              <div>
                <h2>User_Name1</h2>
                <p>Text_Content1</p>
              </div>
              <div>
                <h2>User_Name2</h2>
                <p>Text_Content2</p>
              </div>
              <div>
                <h2>User_Name3</h2>
                <p>Text_Content3</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card bg-light mb-3 col-12" style="max-width: 80rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">管理人から一言</h5>
          <p class="card-text">毎週更新する<br>･･････かも </p>
        </div>
      </div>

</div>
