<%if logged_in?%>
<div class="jumbotron m-1">
    <div class="row">
    <div class="col-md">
        <div class="display-4">
          <h1><%= @current_user.name %><h1>
        <div class="row">
            <ul class="col-md-4">
              <li>
                <a  href="<%=uma_index_path%>">お気に入り馬</a>
              </li>
            </ul>
          </div>
          </div>
        </div>
      </div>

  <% else %>
    <div class="gest">
      <h1 class="display-4">ゲストさん</h1>
      <p>競走馬の能力と<br>その日走る条件を掛け合わせて<br>得意を出すアプリです</p>
      <h3>まずは上からログインしてください！</h3>
    </div>
  <%end%>
</div>

<div class="container mt-2 mb-2">
  <div class="row">

      <div class="col-12 col-md-6 col-sm-12 index">
        <table class="table table-secondary">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <th scope="row">ア行</th>
              <% links[:a].each do |link|%>
                <td><a href="uma_show/<%=link%>"><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">カ行</th>
              <% links[:ka].each do |link|%>
                <td><a href="uma_show/<%=link%>"><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">サ行</th>
              <% links[:sa].each do |link|%>
                <td><a href="uma_show/<%=link%>"><%= link%></a></td>
              <%end%>

          </tbody>
          <tbody>
            <th scope="row">タ行</th>
              <% links[:ta].each do |link|%>
                <td><a href="uma_show/<%=link%>"><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">ナ行</th>
              <% links[:na].each do |link|%>
                <td><a href="uma_show/<%=link%>" ><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">ハ行</th>
              <% links[:ha].each do |link|%>
                <td><a href="uma_show/<%=link%>" ><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">マ行</th>
              <% links[:ma].each do |link|%>
                <td><a href="uma_show/<%=link%>" ><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">ヤ行</th>
              <% links[:ya].each do |link|%>
                <td><a href="uma_show/<%=link%>" ><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">ラ行</th>
              <% links[:ra].each do |link|%>
                <td><a href="uma_show/<%=link%>" ><%= link%></a></td>
              <%end%>
          </tbody>
          <tbody>
            <th scope="row">ワ行</th>
              <% links[:wa].each do |link|%>
                <td><a href="uma_show/<%=link%>" ><%= link%></a></td>
              <%end%>
          </tbody>
        </table>
    </div>


      <div class="card text-white bg-dark mb-3 col-12 col-md-6  col-sm-12" style="max-width: 80rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">馬名検索</h5>
            <div class="card-text">
            <%= search_form_for @q, url: search_path, html: { method: :get }  do |f| %>
            <%= f.label :name_cont, "馬名"%>
            <%= f.search_field :name_cont, class: "search-input" %>
            <div class="actions"><%= f.submit "検索" %></div>
          <% end %>
          <div class="uma-result">
            <ul class="result-ul">
            <% @uma_s.each do |uma| %>
              <li><%= link_to "#{ uma.name}","/uma_detail/#{uma.name}" %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
      </div>

      <div class="card bg-light mb-3 col-12" style="max-width: 80rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">管理人から一言</h5>
          <p class="card-text">馬の能力とコースの相性を判断してください。 </p>
        </div>
      </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
  $(function() {
    function appendUma(input) {
      html = `<li><a href="/uma_detail/${input.name}">${input.name}</a></li>`
      $(".result-ul").append(html)
    }

    function appendErrMsgToHTML(msg) {
       var html = `<div class='name'>${ msg }</div>`
       $(".result-ul").append(html);
     }

    $(".search-input").on("keyup", function() {
      var input = $(this).val();
      $.ajax({
        type: 'GET',
        url: 'uma/search',
        data: { key: input },
        dataType: 'json'
      })
    .done(function(data) {
        console.log(data);
        $(".result-ul").empty();
        if (data.length !== 0) {
          data.forEach(function(data){
            appendUma(data)
          });
        }
        else {
          appendErrMsgToHTML("一致するツイートがありません")
        }
      })
    .fail(function(data){
      alert('非同期通信に失敗しました');
    })
  });

  });
</script>


