<span class="table-responsive-sm md lg main">
  <table class="uma_race_info table">
    <tbody>
    <tr class="birthday">
      <h3>コース種類</h3>
    </tr>
      <%# この辺 %>
      <%# f.fields_for
      has_many :kids, dependent: :destroy
      accepts_nested_attributes_for :kids %>
  <%@ples.each do |pl|%>
    <tr class ="col-xs-3 col-ms-3 col-md-4 col-lg-6">
    <th scope="row"><%= pl%></th>
    <%@names.each_with_index do |n,i|%>
      <%if !n.include?(pl)%>
      <%next%>
      <%else%>
      <% if logged_in? %>

      <%= form_for :couse do |f| %>
        <td><%=n%></td>
        <%if @parameters.find {|cp| cp.couse_id == @couse_id[i]}%>
          <%parameter = @parameters.find {|cp| cp.couse_id == @couse_id[i]}%>
          <%= render partial: 'couse/couse_form', 
          locals: {speed:parameter.speed,power:parameter.power,f:f,i:i}
          %>
        <%elsif @parameters.find {|cp| cp.couse_id != @couse_id[i]} || @parameters == nil%>
          <%= render partial: 'couse/couse_form', locals: {speed: 1,power:1,f:f,i:i}%>
        <%else%>
          <%= render partial: 'couse/couse_form', locals: {speed: 1,power:1,f:f,i:i}%>
        <%end%>
          <td><%= f.submit "決定"%> </td>
        <%end%>

        <%else%>
          <td><%=n%><p>speed: <%=@default_speed%></p><p>power: <%=@default_power%></p></td>
        <%end%>
    <%end%>
    <%end%>
  <%end%>

      </tr>
    </tbody>
  </table>
</span>


