<h1><%= @uma.name%>詳細ページ</h1>

<div class="col-12 col-md-6 col-sm-12 prof"> 
  <table class="uma_prof">
    <tbody>
      <tr class="birthday">
        <th>
        生年月日
        </th>
        <td>
         <%= @birth%>
        </td>
      </tr>

      <tr>
        <th>
          性別・歳
        </th>
        <td>
          <%= @sex_age%>
        </td>
      </tr>
      <tr>

        <th>
          調教師
        </th>
        <td>
          <%= @uma_info[0]%>
        </td>
      </tr>
      <tr>

        <th>
          馬主
        </th>
        <td>
          <%= @uma_info[1]%>
        </td>
      </tr>

      <tr>
        <th>
          生産者
        </th>
        <td>
          <%= @uma_info[2]%>
        </td>
      </tr>

      <tr>
        <th>
          生産地
        </th>
        <td>
          <%= @uma_info[3]%>
        </td>
      </tr>

      <tr>
        <th>
          成績
        </th>
        <td>
          <%= @uma_info[4]%>
        </td>
      </tr>

      <tr>
        <th>
          賞金
        </th>
        <td>
          <%= @uma_info[5]%>
        </td>
      </tr>

    </tbody>
  </table>
</div>