<h1><%= @uma.name%>詳細ページ</h1>
<div class="col-12 col-md-6 col-sm-12 prof"> 
  <table class="uma_prof table">
    <tbody>
    <tr>
      <% if logged_in? %>
        <% if !Favorite.exists?(user_id:current_user.id,uma_id:@uma.id) %>
          <%= link_to "お気に入り",uma_add_path(@uma),method: :post %>
        <% else %>
          <%= link_to "お気に入り解除",uma_add_path(@uma),method: :delete %>
          <td>パラメーターの設定</td>
            <form action="/uma/<%=@favorite.uma_id%>/add/<%=@favorite.id%>" method="post">
            <input type="hidden" name="user_id" value="<%=current_user.id%>">
              <td class="w-25">
                <label for="speed">speed</label><br>
                <p><%=@favorite.speed%></p>
                <select name="speed" class="slt">
                </select>
              </td>

              <td class="select">
                <label for="power">power</label><br>
                <p><%=@favorite.power%></p>
                <select name="power" class="slt">
                </select>
              </td><br>
              <td>
                <input type="submit" value="決定">
              </td>
            </form>
        <%end%>
      <%end%>
    </tr>
    <%@uma_prof.each do |key,value|%>
    <%=render partial: "uma/detail_prof" ,locals:{title:value,item:key}%>
    <%end%>
    </tbody>
  </table>
</div>


<span class="table-responsive-sm md lg main">
  <table class="uma_race_info table">
    <thead>
      <tr class ="col-xs-3 col-ms-3 col-md-4 col-lg-6">
        <% race_title.each do |title|%>
          <th class ="col-xs-1"><%=title%></th>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <%@n.each_with_index do |m,n|%>
          <tr class ="col-xs-3 col-ms-3 col-md-4 col-lg-6">
            <%@n.each_with_index do |t,i|%>

              <% if i == 3 && @n[i][n] != nil && @code_link[n] != nil%>
                <td>
                <% if logged_in? %>
                  <a href="<%=race_run_path(name:@code_link[n])%>" name="<%=@code_link[n]%>">
                <%end%>
                    <%= @n[i][n]%>
                  </a>
                </td>
              <% elsif @n[i][n] != nil%>
                  <td>
                    <%= @n[i][n]%>
                  </td>
              <%end%>
            <%end%>
          </tr>
          <%end%>
    </tbody>
  </table>
</span>
  <script type="text/javascript">

  $(function() {
    var slt = [...Array(10)].map((_, i) => i + 1);
    console.log(slt);
    $.each(slt,
    function(pr,i){
    console.log(pr,i);
      $(".slt").append(`<option value="${i}">${i}</option>`);
    });
  });
</script>


