<h1><%= @uma.name%>詳細ページ</h1>
<div class="col-12 col-md-6 col-sm-12 prof"> 
  <table class="uma_prof table">
    <tbody>
    <tr>
      <% if logged_in? %>
        <% if !Favorite.exists?(user_id:current_user.id,uma_id:@uma.id) %>
          <%= link_to "お気に入り",uma_add_path(@uma),method: :post %>
        <% else %>
          <%= link_to "お気に入り解除",uma_add_path(@uma),method: :delete %>
          <td>パラメーターの設定</td>
            <form action="/uma/<%=@favorite.uma_id%>/add/<%=@favorite.id%>" method="post">
            <input type="hidden" name="user_id" value="<%=current_user.id%>">
              <td>
                <label for="">speed</label>
                <select name="speed" class="slt">
                <%# javascriptでやる %>
                </select>
              </td>

              <td>
                <label for="">power</label>
                <select name="power" class="slt">
                  <%# <option value="1">1</option> %>
                </select>
              </td><br>
              <td>
                <input type="submit" value="決定">
              </td>
            </form>
        <%end%>
      <%end%>
    </tr>
      <tr class="birthday">
        <th>
        生年月日
        </th>
        <td>
         <%= @birth%>
        </td>
      </tr>

      <tr>
        <th>
          性別・歳
        </th>
        <td>
          <%= @sex_age%>
        </td>
      </tr>
      <tr>

        <th>
          調教師
        </th>
        <td>
          <%= @uma_info[0]%>
        </td>
      </tr>
      <tr>

        <th>
          馬主
        </th>
        <td>
          <%= @uma_info[1]%>
        </td>
      </tr>

      <tr>
        <th>
          生産者
        </th>
        <td>
          <%= @uma_info[2]%>
        </td>
      </tr>

      <tr>
        <th>
          生産地
        </th>
        <td>
          <%= @uma_info[3]%>
        </td>
      </tr>

      <tr>
        <th>
          成績
        </th>
        <td>
          <%= @uma_info[4]%>
        </td>
      </tr>

      <tr>
        <th>
          賞金
        </th>
        <td>
          <%= @uma_info[5]%>
        </td>
      </tr>

    </tbody>
  </table>
</div>


<span class="table-responsive-sm md lg main">
  <table class="uma_race_info table">
    <thead>
      <tr class ="col-xs-3 col-ms-3 col-md-4 col-lg-6">
        <% race_title.each do |title|%>
          <th class ="col-xs-1"><%=title%></th>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <%@n.each_with_index do |m,n|%>
          <tr class ="col-xs-3 col-ms-3 col-md-4 col-lg-6">
            <%@n.each_with_index do |t,i|%>

              <% if i == 3 && @n[i][n] != nil && @code_link[n] != nil%>
                <td>
                  <a href="<%=race_run_path(name:@code_link[n])%>" name="<%=@code_link[n]%>">
                    <%= @n[i][n]%>
                  </a>
                </td>
              <% elsif @n[i][n] != nil%>
                  <td>
                    <%= @n[i][n]%>
                  </td>
              <%end%>
            <%end%>
          </tr>
          <%end%>
    </tbody>
  </table>
</span>
  <script type="text/javascript">

  $(function() {
    var slt = [...Array(10)].map((_, i) => i + 1);
    console.log(slt);
    $.each(slt,
    function(pr,i){
    console.log(pr,i);
      $(".slt").append(`<option value="${i}">${i}</option>`);
    });
  });
</script>


