<!DOCTYPE html>
<html>
  <head>
    <title>UmaApuri</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <h1 class="navbar-brand">Uma</h1>
      <span class="navbar-nav  text-secondary ml-2">

          <% if logged_in? %>
            <p class="nav-item mr-2"><%= @current_user.name%>:</p>
            <div class="nav-item"><%= link_to("ログアウト",logout_path,method: :delete)%></div>

          <% else %>
          <div class="nav-item mr-2"><%= link_to("新規登録",singup_path) %></div>
          <div class="nav-item"><%= link_to("ログイン",login_path)%></div>
          <%end%>

      </span>
</nav>


<%= yield %>
</body>
</html>
